<h1>Введите данные</h1>
<form
        action="/news"
        method="post"
>
    <label>Новости</label><br>

    <label>Количество</label><br>
    <input
            type="number"
            name="countNews"
            value={{ count }}
    />
    <input
            type="submit"
            value="Показать"
    />
</form>
